project.name = PlayAssetDelivery

github.repo = airsdk/ANE-PlayAssetDelivery

airpackage.name = PlayAssetDelivery
airpackage.description = Google Play Asset Delivery extension
airpackage.dir = ./package

output.name = com.harman.air.extension.PlayAssetDeliveryAne
output.dir = ./build
package.name = com.harman.air.PlayAssetAne